$white: rgb(192, 192, 192);
$light_white: #fff;
$main_blue: #4ab6db;

%display_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//rwd 變數設定
$pad_media: 769px;
$mobile_media: 540px;
$pad_pro_media: 1100px;

// rwd mixin
@mixin pad_width() {
  @media screen and (max-width: $pad_media) {
    @content;
  }
}

@mixin mobile_width() {
  @media screen and (max-width: $mobile_media) {
    @content;
  }
}

@mixin pad_pro_width() {
  @media screen and (max-width: $pad_pro_media) {
    @content;
  }
}

.icon-mobile {
  width: 45%;

}
.block{
  display: block;

}
.none{
  display: none;
}
#mobile_buttons {
  left: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 99999999;
  display: none;
  @include mobile_width{
    box-shadow: 10px 0 0 rgba(0,0,0,.4) !important;
  }


  .mobile_icon_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      width: calc(100% / 4);
      background-color: rgb(32, 142, 206);
      display: flex;
      justify-content: center;
      align-items: center;
      padding:1rem .5rem;
      border-left: 0.5px solid rgb(255, 255, 255);
      border-right: 0.5px solid rgb(255, 255, 255);

      svg {
        font-size: 1.9rem;
        color: white;
      }
    }
  }
}
.icon-fit-footer {
  width: 1.6rem;
  margin-right: .5rem;
  transform: scale(1);
  transition: .2s;

  &:hover {
    transition: scale(.8);
  }
}

footer {
  position: relative;
  background-color: #272f3c;
  padding: 1.5rem 0;


  @include mobile_width {
    margin-bottom: 15vmin;
  }
  .footer-logo{
    width: 130px;
    margin: .5rem 0;
  }
  svg {
    color: white !important;
    font-size: 1.45rem !important;
    transform: scale(1);
    transition: .3s;

    &:hover {
      transform: scale(.95);
    }
  }

  .container-fluid {
    .row_banner {
      position: absolute;
      top: -15vmin;

      @include mobile_width {
        position: relative;
        top: 0;
      }

      .col-md-6 {
        .footer_banner {
          padding: 1.5rem;

          width: 100%;
          background-color: #e6e6e6;
          overflow: hidden;

          @include mobile_width {
            margin: 5px 0;
            padding: 0.6rem 1rem;
          }

          .top {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            >.txt {
              width: 80%;
              background-color: #fff;
              color: #333;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 1.5px;
              padding: 0.5rem 1rem;
              height: 100%;

              @include mobile_width {
                font-size: 14px;
              }
            }

            .txt_02 {
              width: 80%;
              color: #333;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 1.5px;
              text-align: end;
              background-color: #fff;
              padding: 0.5rem 1rem;

              @include mobile_width {
                font-size: 14px;
              }
            }

            >.btn {
              background-color: #17d739;
              width: 20%;
              font-size: 16px;
              color: white;
              padding: 0.5rem 1.5rem;

              @include mobile_width {
                padding: 0.2rem 0.5rem;
                font-size: 12px;
              }
            }

            >.btn02 {
              background-color: #17d739;
              width: 20%;
              font-size: 16px;
              color: white;
              padding: 0.5rem 1.5rem;
              text-align: center;

              @include mobile_width {
                padding: 0.2rem 0.5rem;
                font-size: 12px;
              }
            }
          }

          .middle {
            margin: 1rem 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .txt {
              width: 75%;
              display: flex;
              justify-content: center;
              align-items: center;

              #yes,
              div {
                font-size: 3.5rem;
                font-weight: 900;
                color: #4ba6db;

                @include mobile_width {
                  font-size: 32px;
                }
              }
            }

            .txt02 {
              width: 75%;
              display: flex;
              justify-content: center;
              align-items: center;

              #yes02,
              .div02 {
                color: #12c953;
                font-size: 3.5rem;
                font-weight: 900;

                @include mobile_width {
                  font-size: 32px;
                }
              }
            }

            img {
              width: 25%;
              margin: 0.3rem;
            }
          }

          .bottom {
            display: flex;

            @include mobile_width {
              display: none;
            }

            form {
              width: 80%;

              input {
                width: 100%;

                &::placeholder {
                  color: rgb(21, 146, 230);
                }
              }
            }

            .btn {
              background-color: #4ba6db;
              color: white;
              padding: 0.5rem 1.5rem;
              margin: 0 5px;
              border-radius: 8px;
              font-size: 18px;
            }

            .btn02 {
              background-color: #17d739;
              color: white;
              padding: 0.5rem 1.5rem;
              margin: 0 5px;
              border-radius: 8px;
              font-size: 18px;
            }
          }
        }
      }
    }

    .row_bottom {
      @include mobile_width {
        margin-top: 0;
      }
    }

    .row {
      padding: 0vmin 15vmin;

      @include pad_width {
        padding: 0vmin 8vmin;
      }

      @include pad_pro_width {
        padding: 0 5vmin;
      }

      .col-md-12 {
        p {
          color: $light_white;
        }

        .company_logo {
          width: 8rem;
        }
      }

      .col-xl-8 {
        .wrap {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
          padding: 0;

          ul {
            width: 45%;
            height: 100%;

            @include pad_width {
              margin: 0rem;
              width: 50%;
              padding-right: 1rem;
            }

            @include mobile_width {
              margin: .5rem 0;
              width: 100%;

              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;
            }

            .footer-icons {
              display: flex;

              a {}
            }

            li {
              color: $white;
              margin: 0.5rem 0;
              font-size: 14px;
              transform: scale(1);
              transition: 0.3s;

              &:hover {
                transform: scale(0.98);
                color: #00a7e1;
              }
            }

            .footer_ul_title {
              color: $light_white;
              font-size: 1rem;

              &:hover {
                color: $light_white;
                transform: scale(1);
              }
            }
          }
        }
      }
      .col-md-12{
        p{
          @include mobile_width{
            text-align: center;
            margin-top: 1rem
          }
        }
      }
      .col-xl-4 {
        .map_wrap {
          p {
            color: $light_white;
          }

          iframe {
            width: 100%;
            height: 35vmin;
          }
        }

        form {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          fieldset {
            width: 100%;
            @include pad_width{
              margin-top: 2rem;
            }
            @include mobile_width{
              margin-top: .5rem;
            }

            p {
              color: rgb(219, 219, 219);
              font-size: 16px;
              font-weight: 100;
            }

            label {
              color: $light_white;
            }

            input {
              width: 100%;
              padding: 0.2rem 0.5rem;
              color: rgb(27, 146, 201);

              &::placeholder {
                color: rgb(133, 133, 133);
              }
            }

            .submit {
              margin: 0.5rem 0;
              width: 100%;
              background-color: rgb(27, 146, 201);
              color: rgb(255, 255, 255);
              padding: 0.2rem 0.5rem;
              border: none;
            }
          }
        }
      }
    }
  }
}

